@font-face {
    font-family: "Perpetua Titling MT Std Light";
    src: url("Perpetua-Titling-MT-Std-Light.woff2") format("woff2"),
    url("Perpetua-Titling-MT-Std-Light.woff") format("woff"),
    url("Perpetua-Titling-MT-Std-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
